
.body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
.section{
    width: 100%;
    height: 95vh;
}
.text-container p:nth-child(1){
    font-family: 'calibri';
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}
.text-container p:nth-child(2){
    font-family: 'calibri';
    font-weight: bold;
    letter-spacing: 1px;
    color:#1a1a1a;
    font-size: 60px;
}
.text-container p:nth-child(3){
    font-family: 'myriad pro regular';
    color:#403e3e;
    font-size: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 45px opx 25px;
}
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13% -42%);
}

.project-section > ul{
    padding-top: 2cm;
    padding-bottom: 4cm;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background: black;
    color: white;
}