@charset "utf-8";
body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
.landing{
    font-weight: bold;
    display: flexbox;

}
.portfolio{
    font: optional;
    height: 560px;
    position: absolute;
    bottom:40px;
    left: 98%;
    transform: translateX(-98%);

}
.about-text{
	width:500px;
} 
.about-text p:nth-child(1){
	color:black;
	font-family: myriad pro;
	font-weight:bold;
	font-size:23px;
	line-height:0px;
}
.about-text p:nth-child(2){
	color:black;
	font-size:13px;
	font-family: myriad pro;
	font-weight:bold;
	line-height:5px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
	color:black;
	font-family:calibri;
	font-size:16px;
}

.project-section ul{
    padding-top: ocm;
    padding-bottom: 4cm;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background: black;
    color: white;
    font-family:'calibri';
}
@media(max-width:1000px){
.portfolio{
    height: 460px;
    left: 90%;
    transform: translateX(-90%);
}
.about-text{
    width: 400px;
}
.about-text p:nth-child(1){
    font-size: 20px;
}
.about-text p:nth-child(2){
    font-size: 10px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4){
    font-size: 14px;
}

}


